/* This is just to define the basic component shape */
/* This can be changed/added to with Tailwind */

.hero-container {
    border-top: 1px solid rgb(13, 137, 32);;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    background: radial-gradient(circle at 50% 80%, #189a17, #199616, #1a8c14, #1a7f11, #1a720e, #19690d, #19650c);
}

input {
    border: 1px solid black !important;
    height: 35px;
    padding: 5px;
    width: 400px;
}

button {
    height: 35px;
   background-color: rgb(157, 147, 16) !important;
   color: white !important;
   text-shadow: 1px 1px black;
   font-weight: 600 !important;
    margin-left: 10px;
    width: 75px;
    border: 1px solid rgb(92, 90, 27);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hero-text {
    color: rgb(57, 75, 26);
    
}

h1 {
    color: rgba(255, 255, 255, 0.895);
    text-shadow: 1px 1px black;
}