.moviesContainer {
  width: 100vw;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px 0;
}

.moviesContainer h2 {
  font-size: 1.5rem !important;
  width: 50%;
  margin-left: 12px;
}

.moviesContainer-description {
  
  margin: 0 auto;
  width: 90%;
}

.moviesContainer:last-child {
  margin-bottom: 80px;
}

.moviesContainer-description {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noresults-h2 {
  font-size: 1.3rem !important;
}

/* For small screens */
@media only screen and (max-width: 768px) {
  .moviesContainer h2 {
    margin: 0 auto;
    width: 20%;
  }

  .moviesContainer-description {
    width: 70%;
    margin: 0 auto;
    padding-left: 20px;
    font-size: 1rem;
    text-align: center;
  }
}
