.moviesContainer {
  width: 100vw;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px 0;
}

.moviesContainer h2 {
  margin: 0px;
}

.moviesContainer:last-child {
  margin-bottom: 80px;
}

.moviesContainer-description {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.noresults-h2 {
  font-size: 1.3rem !important;
}